/**Formulaire Précommande**/
div#formulaire-responsive-add {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  margin-top: 93px;
}

.number {
  display: flex;
  align-items: flex-end;
}

.number-add {
  display: flex;
}

.number-input {
  height: 56px;
  width: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0px 4px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
}

.horizontal-line {
  border-top: 1px solid #ffff;
  width: 860px;
  margin-top: 40px;
}

div#formulaire-responsive {
  display: flex;
  align-items: stretch;
  margin-top: 50px;
}

.vertical-line {
  border: 1px solid #ffff;
  display: inline-block;
  height: 447px;
  margin: 9px 44px;
}

h2.title {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}

.wpcf7-form-control-wrap input {
  width: 383px !important;
}

/*Compteur*/
.minus,
.plus {
  width: 31px;
  height: 28px;
  background: #dc9f96;
  border-radius: 4px;
  border: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.plus {
  border-bottom: 1px solid #000;
  border-radius: 0 5px 0 0;
  justify-content: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
}

.minus {
  border-radius: 0 0 4px 0;
  display: flex;
}

.number-btn {
  margin-left: 11px;
  padding-right: 12px;
}

input.wpcf7-form-control.has-spinner.wpcf7-submit.btn-ok {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 56px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.wpcf7-spinner {
  display: none;
}
h2.number-fruits {
  color: #fff;
  display: none;
}

/**Responsive tablette**/
@media screen and (max-width: 992px) {
  .vertical-line {
    display: none;
  }
  #formulaire-responsive {
    flex-direction: column;
  }
}
/*****Responsive formulaire******/
@media screen and (max-width: 1024px) {
  h2.number-fruits {
    display: block;
    margin-right: 57px;
  }
  div#formulaire-responsive-add {
    justify-content: flex-start;
  }
  .elementor-15
    .elementor-element.elementor-element-a84c973
    .exad-contact-form-7
    .wpcf7-form
    input[type="submit"] {
    margin: 24px 100px !important;
  }
  .horizontal-line {
    display: none;
  }
  div#formulaire-responsive {
    flex-direction: column;
  }

  .vertical-line {
    height: 0;
    margin: 24px 0;
    width: 79%;
  }
  .elementor-2
    .elementor-element.elementor-element-706f51b
    .exad-contact-form-7
    .wpcf7-form
    input[type="submit"] {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .number {
    flex-wrap: wrap;
    margin-left: 10px;
  }
  .horizontal-line {
    display: none;
  }
  .elementor-15
    .elementor-element.elementor-element-a84c973
    .exad-contact-form-7
    .wpcf7-form
    input[type="submit"] {
    margin: 24px 80px !important;
  }
  /*menu*/
  .elementor-398
    .elementor-element.elementor-element-91f6ca5
    .hfe-nav-menu__toggle {
    margin: 0 20px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
