/**Formulaire Précommande**/
div#formulaire-responsive-add {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  /*justify-content: center;*/
  margin-top: 93px;
  margin-left: 10px;
}

.number {
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.number-add {
  display: flex;
  /*align-items: center;*/
}

#number-input {
  height: 56px;
  width: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0px 4px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
}

.vertical-line {
  border-left: 1px solid #000;
  display: inline-block;
  height: 447px;
  margin: 0px 30px;
}

div#formulaire-responsive {
  display: flex;
  align-items: stretch;
  margin-top: 93px;
}

.vertical-line {
  border: 1px solid #ffff;
  display: inline-block;
  height: 447px;
  margin: 9px 44px;
}

h2.title {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}

.wpcf7-form-control-wrap input {
  width: 383px !important;
}

/*Compteur*/
.minus,
.plus {
  width: 31px;
  height: 28px;
  background: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.plus,
.minus {
  width: 31px;
  height: 28px;
  background: #f2f2f2;
  border: 1px solid #ddd;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus {
  border-bottom: 1px solid #000;
  border-radius: 0 5px 0 0;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  font-size: 20px;
}

.minus {
  border-radius: 0 0 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.number-btn {
  margin-left: 11px;
  padding-right: 12px;
}

input.wpcf7-form-control.has-spinner.wpcf7-submit.btn-ok {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 56px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.wpcf7-spinner {
  display: none;
}

/**Responsive tablette**/
@media screen and (max-width: 992px) {
  .vertical-line {
    display: none;
  }
  #formulaire-responsive {
    flex-direction: column;
  }
}
